<!DOCTYPE html>
<html>
    <head>
        <meta charset  = 'utf-8'>
        <title>{% block title %}My Page{% endblock%}</title>
    </head>
    <body>
        <h1>My page</h1>
        {% block content %}{% endblock %}
    </body>
</html>

