{% load event_tags %}

{% comment %} <h1>Name: {{ my_name }}</h1>
<h2>fruits: {{ favorite_fruits.2 }}</h2>
<h3>Age: {{ my_info.age }} </h3> {% endcomment %}
{{ my_name }}
{# for #}
<ul>
    {% for fruit in favorite_fruits %}
        <li>{{ fruit }}</li>
    {% endfor %}
</ul>
{% if 'grape' in favorite_fruits %}
    <p> {{ favorite_fruits.1 }} あります </p>
{% elif 'gemon' in favorite_fruits %}
    <p> {{ favorite_fruits.2 }} あります </p>
{% else %}
    <p> Not Found</p>
{% endif %}

{% if 'age' in my_info %}
<p> age is {{my_info.age}} </p>
    {% if my_info.age < 20 %}
        <p>未成年</p>
    {% endif %}
{% endif %}

<p>{{ status | status_to_string }} </p>