{% load static %}
<link rel='stylesheet' type='text/css' href="{% static 'download/home.css' %}"
<h1>{{name | upper}}</h1>
<h1>{{page_url | urlize}}</h1>
<h1>BMI: {{bmi | floatformat:2}}</h1>
<h1>salary: {{salary | default:'秘密'}}</h1>
<p>{{fruits | join:', '| upper}}</p>
<p>{{fruits | random}}</p>
<p>{{msg | linebreaks}}</p>
<p>{{msg2 | truncatechars:5}}</p>
<a href="{% url 'template_app:home' first_name='Saburo' last_name='Suzuki' %}">home</a>
<br></br>
<img src="{% static 'download/sample.jpg' %}">

